<div class="container">
  <mat-card>
    <form [formGroup]="editClientForm">
      <mat-card-content>
        <!-- First Row: Office, Legal Form, Account No, External ID -->
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field class="flex-24">
            <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of officeOptions" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editClientForm.controls.officeId.hasError('required')">
              {{ 'labels.inputs.Office' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-24">
            <mat-label>{{ 'labels.inputs.Legal Form' | translate }}</mat-label>
            <mat-select formControlName="legalFormId">
              <mat-option *ngFor="let legalForm of legalFormOptions" [value]="legalForm.id">
                {{ legalForm.value | translateKey: 'inputs' }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-24">
            <mat-label>{{ 'labels.inputs.Account No' | translate }}</mat-label>
            <input
              matInput
              formControlName="accountNo"
              placeholder="Account No"
              title="Account No"
              [placeholder]="'labels.inputs.Account No' | translate"
              [title]="'labels.inputs.Account No' | translate"
            />
          </mat-form-field>

          <mat-form-field class="flex-24">
            <mat-label>{{ 'labels.inputs.External Id' | translate }}</mat-label>
            <input
              matInput
              formControlName="externalId"
              placeholder="External Id"
              title="External Id"
              [placeholder]="'labels.inputs.External Id' | translate"
              [title]="'labels.inputs.External Id' | translate"
            />
          </mat-form-field>
        </div>

        <!-- Name fields section -->
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field *ngIf="editClientForm.contains('fullname')" class="flex-48">
            <mat-label>{{
              'labels.inputs.' + getDateLabel(legalFormId, ['Name', 'Entity Name']) | translate
            }}</mat-label>
            <input
              matInput
              required
              formControlName="fullname"
              placeholder="Full Name"
              title="Full Name"
              [placeholder]="'labels.inputs.' + getDateLabel(legalFormId, ['Name', 'Entity Name']) | translate"
              [title]="'labels.inputs.' + getDateLabel(legalFormId, ['Name', 'Entity Name']) | translate"
            />
            <mat-error *ngIf="editClientForm.controls.fullname.hasError('required')">
              {{ 'labels.inputs.Client name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div
          class="name-fields-section"
          *ngIf="
            editClientForm.contains('firstname') ||
            editClientForm.contains('middlename') ||
            editClientForm.contains('lastname') ||
            editClientForm.contains('secondlastname') ||
            editClientForm.contains('marriedlastname')
          "
        >
          <div class="name-fields-row given-names-row">
            <mat-form-field *ngIf="editClientForm.contains('firstname')" class="name-field first-name">
              <mat-label>{{ 'labels.inputs.First Name' | translate }}</mat-label>
              <input
                matInput
                required
                formControlName="firstname"
                [placeholder]="'labels.inputs.First Name' | translate"
                [title]="'labels.inputs.First Name' | translate"
              />
              <mat-error *ngIf="editClientForm.controls.firstname.hasError('required')">
                {{ 'labels.inputs.Client first name' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="editClientForm.contains('middlename')" class="name-field middle-name">
              <mat-label>{{ 'labels.inputs.Middle Name' | translate }}</mat-label>
              <input
                matInput
                formControlName="middlename"
                [placeholder]="'labels.inputs.Middle Name' | translate"
                [title]="'labels.inputs.Middle Name' | translate"
              />
            </mat-form-field>
          </div>

          <div class="name-fields-row surnames-row">
            <mat-form-field *ngIf="editClientForm.contains('lastname')" class="name-field last-name">
              <mat-label>{{ 'labels.inputs.Last Name' | translate }}</mat-label>
              <input
                matInput
                required
                formControlName="lastname"
                [placeholder]="'labels.inputs.Last Name' | translate"
                [title]="'labels.inputs.Last Name' | translate"
              />
              <mat-error *ngIf="editClientForm.controls.lastname.hasError('required')">
                {{ 'labels.inputs.Client last name' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="editClientForm.contains('secondlastname')" class="name-field second-last-name">
              <mat-label>{{ 'labels.inputs.Second Last Name' | translate }}</mat-label>
              <input
                matInput
                formControlName="secondlastname"
                [placeholder]="'labels.inputs.Second Last Name' | translate"
                [title]="'labels.inputs.Second Last Name' | translate"
              />
            </mat-form-field>

            <mat-form-field *ngIf="editClientForm.contains('marriedlastname')" class="name-field married-last-name">
              <mat-label>{{ 'labels.inputs.Married Last Name' | translate }}</mat-label>
              <input
                matInput
                formControlName="marriedlastname"
                [placeholder]="'labels.inputs.Married Last Name' | translate"
                [title]="'labels.inputs.Married Last Name' | translate"
              />
            </mat-form-field>
          </div>
        </div>

        <mat-divider class="section-divider"></mat-divider>

        <!-- Date of Birth Row -->
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field class="flex-48" (click)="dateOfBirthDatePicker.open()">
            <mat-label>{{
              'labels.inputs.' + getDateLabel(legalFormId, ['Date of Birth', 'Incorporation Date']) | translate
            }}</mat-label>
            <input
              matInput
              [max]="maxDate"
              [matDatepicker]="dateOfBirthDatePicker"
              formControlName="dateOfBirth"
              placeholder="Date of Birth"
              title="Date of Birth"
              [placeholder]="
                'labels.inputs.' + getDateLabel(legalFormId, ['Date of Birth', 'Incorporation Date']) | translate
              "
              [title]="
                'labels.inputs.' + getDateLabel(legalFormId, ['Date of Birth', 'Incorporation Date']) | translate
              "
            />
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Staff, Gestor and Is Staff Row -->
        <div class="layout-row-wrap gap-2px responsive-column align-center">
          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Staff' | translate }}</mat-label>
            <mat-select formControlName="staffId">
              <mat-option *ngFor="let staff of staffOptions" [value]="staff.id">
                {{ staff.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Gestor' | translate }}</mat-label>
            <mat-select formControlName="gestorId">
              <mat-option *ngFor="let gestor of gestorOptions" [value]="gestor.id">
                {{ gestor.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox
            *ngIf="legalFormId === 1"
            class="flex-48 margin-v"
            labelPosition="before"
            formControlName="isStaff"
          >
            {{ 'labels.inputs.Is staff' | translate }}?
          </mat-checkbox>

          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Client - Shareholder' | translate }}</mat-label>
            <mat-select formControlName="tagIds" multiple>
              <mat-option *ngFor="let tag of tagOptions" [value]="tag.id">
                {{ tag.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="flex-100 layout-row-wrap gap-2percent column-on-small"
          formGroupName="clientNonPersonDetails"
          *ngIf="editClientForm.contains('clientNonPersonDetails')"
        >
          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Constitution' | translate }}</mat-label>
            <mat-select formControlName="constitutionId" required>
              <mat-option *ngFor="let constitution of constitutionOptions" [value]="constitution.id">
                {{ constitution.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Main Business Line' | translate }}</mat-label>
            <mat-select formControlName="mainBusinessLineId">
              <mat-option *ngFor="let business of businessLineOptions" [value]="business.id">
                {{ business.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-48" (click)="incorpValidityTillDateDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Incorporation Validity Till Date' | translate }}</mat-label>
            <input
              placeholder="Incorporation Validity Till Date"
              title="Incorporation Validity Till Date"
              [placeholder]="'labels.inputs.Incorporation Validity Till Date' | translate"
              [title]="'labels.inputs.Incorporation Validity Till Date' | translate"
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="incorpValidityTillDateDatePicker"
              formControlName="incorpValidityTillDate"
            />
            <mat-datepicker-toggle matSuffix [for]="incorpValidityTillDateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #incorpValidityTillDateDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Incorporation No' | translate }}</mat-label>
            <input
              matInput
              formControlName="incorpNumber"
              placeholder="Incorporation No"
              title="Incorporation No"
              [placeholder]="'labels.inputs.Incorporation No' | translate"
              [title]="'labels.inputs.Incorporation No' | translate"
            />
          </mat-form-field>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Remarks' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="remarks"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              placeholder="Remarks"
              title="Remarks"
              [placeholder]="'labels.inputs.Remarks' | translate"
              [title]="'labels.inputs.Remarks' | translate"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="layout-row-wrap gap-2px responsive-column" *ngIf="personalDatatableInputs.length">
          <mat-form-field
            *ngIf="legalFormId === 1 && editClientForm.contains('personalDt_estado_civil')"
            class="flex-48"
          >
            <mat-label>{{ 'labels.inputs.Estado Civil' | translate }}</mat-label>
            <mat-select formControlName="personalDt_estado_civil">
              <mat-option [value]="'Soltero/a'">{{ 'labels.inputs.Soltero/a' | translate }}</mat-option>
              <mat-option [value]="'Casado/a'">{{ 'labels.inputs.Casado/a' | translate }}</mat-option>
              <mat-option [value]="'Divorciado/a'">{{ 'labels.inputs.Divorciado/a' | translate }}</mat-option>
              <mat-option [value]="'Viudo/a'">{{ 'labels.inputs.Viudo/a' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="legalFormId === 1 && editClientForm.contains('personalDt_conocido_por')"
            class="flex-48"
          >
            <mat-label>{{ 'labels.inputs.Conocido Por' | translate }}</mat-label>
            <input matInput formControlName="personalDt_conocido_por" />
          </mat-form-field>
        </div>

        <div class="layout-row-wrap gap-2px responsive-column" *ngIf="legalFormId === 1">
          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Gender' | translate }}</mat-label>
            <mat-select formControlName="genderId">
              <mat-option *ngFor="let gender of genderOptions" [value]="gender.id">
                {{ gender.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Mobile No and Email Address Row -->
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Mobile No' | translate }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="mobileNo"
              placeholder="Mobile No"
              title="Mobile No"
              [placeholder]="'labels.inputs.Mobile No' | translate"
              [title]="'labels.inputs.Mobile No' | translate"
            />
          </mat-form-field>

          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Email Address' | translate }}</mat-label>
            <input
              matInput
              formControlName="emailAddress"
              placeholder="Email Address"
              title="Email Address"
              [placeholder]="'labels.inputs.Email Address' | translate"
              [title]="'labels.inputs.Email Address' | translate"
            />
            <mat-error *ngIf="editClientForm.controls.emailAddress.errors?.email"> Email not valid </mat-error>
          </mat-form-field>
        </div>

        <!-- Client Type and Client Classification Row -->
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Client Type' | translate }}</mat-label>
            <mat-select formControlName="clientTypeId">
              <mat-option *ngFor="let clientType of clientTypeOptions" [value]="clientType.id">
                {{ clientType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-48">
            <mat-label>{{ 'labels.inputs.Client Classification' | translate }}</mat-label>
            <mat-select formControlName="clientClassificationId">
              <mat-option
                *ngFor="let clientClassification of clientClassificationTypeOptions"
                [value]="clientClassification.id"
              >
                {{ clientClassification.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Submitted On and Activated On Row -->
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field class="flex-48" (click)="submittedOnDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Submitted On' | translate }}</mat-label>
            <input
              placeholder="Submitted On"
              title="Submitted On"
              [placeholder]="'labels.inputs.Submitted On' | translate"
              [title]="'labels.inputs.Submitted On' | translate"
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="submittedOnDatePicker"
              formControlName="submittedOnDate"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="submittedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #submittedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="editClientForm.controls.submittedOnDate.hasError('required')">
              {{ 'labels.inputs.Submitted Date' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-48" (click)="activatedOnDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Activated On' | translate }}</mat-label>
            <input
              placeholder="Activated On"
              title="Activated On"
              [placeholder]="'labels.inputs.Activated On' | translate"
              [title]="'labels.inputs.Activated On' | translate"
              matInput
              [min]="editClientForm.value.submittedOnDate"
              [max]="maxDate"
              [matDatepicker]="activatedOnDatePicker"
              formControlName="activationDate"
            />
            <mat-datepicker-toggle matSuffix [for]="activatedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #activatedOnDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-divider
          class="section-divider"
          *ngIf="personalDatatableInputs.length || extraDatatableSections.length"
        ></mat-divider>

        <div class="layout-row-wrap gap-2px responsive-column">
          <ng-container *ngFor="let datatableInput of personalDatatableInputs">
            <ng-container
              *ngIf="
                datatableInput.controlName !== 'estado_civil' &&
                datatableInput.controlName !== 'conocido_por' &&
                datatableInput.controlName !== 'lugar_nacimiento'
              "
            >
              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isDropdown(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <mat-select [formControlName]="datatableInput.formControlName">
                  <mat-option *ngFor="let code of datatableInput.columnValues" [value]="code.id">
                    {{ code.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isNumeric(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <input matInput type="number" [formControlName]="datatableInput.formControlName" />
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isString(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <input matInput [formControlName]="datatableInput.formControlName" />
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isText(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <textarea matInput [formControlName]="datatableInput.formControlName"></textarea>
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isDate(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  [formControlName]="datatableInput.formControlName"
                  class="date-picker"
                />
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>

              <mat-checkbox
                *ngIf="isBoolean(datatableInput.columnDisplayType)"
                [formControlName]="datatableInput.formControlName"
                labelPosition="before"
                class="margin-v flex-48"
              >
                {{ datatableInput.controlName }}
              </mat-checkbox>
            </ng-container>
          </ng-container>
        </div>

        <ng-container *ngFor="let section of extraDatatableSections">
          <mat-divider class="section-divider"></mat-divider>
          <h4>{{ 'labels.inputs.' + section.datatable.registeredTableName | translate }}</h4>
          <div class="layout-row-wrap gap-2px responsive-column">
            <ng-container *ngFor="let datatableInput of section.inputs">
              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isDropdown(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <mat-select [formControlName]="datatableInput.formControlName">
                  <mat-option *ngFor="let code of datatableInput.columnValues" [value]="code.id">
                    {{ code.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isNumeric(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <input matInput type="number" [formControlName]="datatableInput.formControlName" />
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isString(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <input matInput [formControlName]="datatableInput.formControlName" />
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isText(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <textarea matInput [formControlName]="datatableInput.formControlName"></textarea>
              </mat-form-field>

              <mat-form-field
                class="flex-48"
                *ngIf="!isBoolean(datatableInput.columnDisplayType) && isDate(datatableInput.columnDisplayType)"
              >
                <mat-label>{{ datatableInput.controlName }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  [formControlName]="datatableInput.formControlName"
                  class="date-picker"
                />
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>

              <mat-checkbox
                *ngIf="isBoolean(datatableInput.columnDisplayType)"
                [formControlName]="datatableInput.formControlName"
                labelPosition="before"
                class="margin-v flex-48"
              >
                {{ datatableInput.controlName }}
              </mat-checkbox>
            </ng-container>
          </div>
        </ng-container>
      </mat-card-content>

      <mat-card-actions class="button-container">
        <button type="button" mat-raised-button [routerLink]="['../general']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!editClientForm.valid" (click)="submit()">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
